.expense-list-button {
  background-color: #4caf50; /* Green background */
  color: white; /* White text */
  border: none; /* Remove default border */
  padding: 12px 20px; /* Add padding */
  font-size: 12px; /* Font size */
  font-weight: bold; /* Bold text */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: all 0.3s ease; /* Smooth hover effect */
}

.expense-list-button:hover {
  background-color: #45a049; /* Slightly darker green on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}

.expense-list-button:active {
  transform: scale(0.98); /* Slightly shrink on click */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* Adjust shadow on click */
}

.expense-list-action-button {
  background-color: #4caf50; /* Green background */
  color: white; /* White text */
  border: none; /* Remove default border */
  padding: 12px 12px; /* Add padding */
  font-size: 12px; /* Font size */
  font-weight: bold; /* Bold text */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: all 0.3s ease; /* Smooth hover effect */
}

.expense-list-action-button:hover {
  background-color: #45a049; /* Slightly darker green on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}

.expense-list-action-button:active {
  transform: scale(0.98); /* Slightly shrink on click */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* Adjust shadow on click */
}

.expense-list-action-button:first-of-type {
  margin-right: 5px;
}

.expense-container {
  display: flex;
  gap: 16px; /* Space between components */
  width: 500px;
}

app-expense-totals {
  flex: 0.3; /* Make totals component narrower */
}

.expense-row {
  display: flex;
  height: 25px;
  text-align: left;
}

.expense-row-header {
  display: flex;
  height: 30px;
  font-weight: bold;
}

.expense-category,
.expense-description {
  width: 150px;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.expense-amount,
.expense-date {
  width: 100px;
}

.expense-list {
  background-color: #101414;
  padding: 20px;
  border-radius: 13px;
}

.expense-list-items {
  background-color: white;
  padding: 13px;
  border-radius: 13px;
}

.expense-list-title {
  color: white;
  font-size: 27px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.expense-item-button {
  border: none;
  background-color: white;
  border-radius: 8px;
}

.expense-item-button:hover {
  background-color: rgb(220, 220, 220);
  transition: all 0.3s ease; /* Smooth hover effect */
}
