<div class="expense-container">
  <div class="expense-list">
    <div class="expense-list-main-header">
      <p class="expense-list-title">Expenses List</p>
      <button class="expense-list-button" [routerLink]="['new']">
        Add a New Expense
      </button>
    </div>
    <div class="expense-list-items">
      <div class="expense-list-header">
        <p class="expense-row-header">
          <span class="expense-category">Category</span>
          <span class="expense-description">Description</span>
          <span class="expense-amount">Amount</span>
          <span class="expense-date">Date</span>
        </p>
      </div>
      @for(expense of filteredExpenses$ | async; track expense.description) {
      <button
        class="expense-item-button"
        [routerLink]="['expense/', expense._id]"
      >
        <div class="expense-item">
          <p class="expense-row">
            <span class="expense-category">{{ expense.category }}</span>
            <span class="expense-description">{{ expense.description }}</span>
            <span class="expense-amount">{{
              expense.amount | currencyFormat
            }}</span>
            <span class="expense-date">{{ expense.date }}</span>
          </p>
        </div>
      </button>
      }
    </div>
  </div>
  <app-expense-filter
    (filterChanged)="applyFilters($event)"
  ></app-expense-filter>
  <app-expense-totals></app-expense-totals>
</div>
