.expense-add-button {
  background-color: #4caf50; /* Green background */
  color: white; /* White text */
  border: none; /* Remove default border */
  padding: 12px 20px; /* Add padding */
  font-size: 12px; /* Font size */
  font-weight: bold; /* Bold text */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: all 0.3s ease; /* Smooth hover effect */
}

.expense-add-button:hover {
  background-color: #45a049; /* Slightly darker green on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}

.expense-add-button:active {
  transform: scale(0.98); /* Slightly shrink on click */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* Adjust shadow on click */
}

mat-card-title {
  color: white;
}

.expense-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
}
.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}
.mat-mdc-form-field {
  width: 100%;
}
