mat-card {
  width: 200px;
}

mat-card-title {
  color: white;
  height: 10px;
}

h3 {
  background-color: white;
  border-radius: 8px;
  height: 40px;
  align-content: center;
  text-align: center;
}
